.quiz-item {
    padding: 16px 0;
    border-bottom: 1px solid #DBDEF0;
    max-width: 600px;
}

.quiz-question {
    font-family: 'Karla', serif;
    font-size: 18px;
    font-weight: 700;
    color:#293264;
    text-align: left;
}

.quiz-answers {
    display: flex;
    gap: 12px;
    justify-content: center;
    padding: 12px 0;
}