.quiz-item {
    padding: 16px 0;
    border-bottom: 1px solid #DBDEF0;
    max-width: 600px;
}

.quiz-question {
    font-family: 'Karla', serif;
    font-size: 18px;
    font-weight: 700;
    color:#293264;
    text-align: left;
}

.quiz-answers {
    display: flex;
    gap: 12px;
    justify-content: center;
    padding: 12px 0;
}

.quiz-submit-button {
    &.is-selected {
            background-color: #D6DBF5;
    }

    &.is-correct,
    &.is-disabled,
    &.is-wrong {
        pointer-events: none;
        cursor: not-allowed;
    }

    &.is-correct {
        background-color: #94D7A2;
    }

    &.is-wrong {
        background-color: #F8BCBC;
    }

    &.is-disabled {
        opacity: 70%;
    }
}