
.start-title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #293264;
}

.start-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #293264;
  margin-top: 8px;
}