.App {
  background: #F5F7FB;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.button-primary {
  background-color: #4D5B9E;
  color: white;
  font-family: 'Inter', sans-serif;
  padding: 16px 28px;
  border-radius: 15px;
  font-weight: 600;
  font-size: 18px;
  border: none;
  margin-top: 30px;

  &:hover {
    cursor: pointer;
  }
}